mixin newsletter-form()
  .container-fluid.newsletter-form
    .container
      .row: .call-to-action
        p Subscribe to our newsletter
      
      .row: .subscribe-form-wrapper
        .subscribe-form
          .subscribe-field
            input(type='text', placeholder='Email address')
          .subscribe-submit
            button.btn Submit
